body {
  margin: 0;
  padding: 0;
}

select {
  width: 14%;
  padding: 5px 35px 5px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://image.flaticon.com/icons/svg/25/25243.svg) 96% / 6%
    no-repeat #eee;
}
.centered-text {
  text-align: center;
  margin-top: 20%;
  font-size: 50px;
  font-family: "Questrial", sans-serif;
}
.top-header {
  text-align: center;
  margin-top: 3%;
  color: rgb(244, 114, 61);
  font-family: "Questrial", sans-serif;
}
.trending-list-view {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 80%;
  margin: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-container-related {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 25px 0px;
  text-align: center;
  position: relative;
}
.trending-img {
  border-radius: 10px;
  cursor: pointer;
}
.questrial {
  font-family: "Questrial", sans-serif;
}
.pointer {
  cursor: pointer;
}

/*Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  position: fixed;
  background: white;
  width: 72%;
  height: 600px;
  overflow-y: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
.close-btn {
  margin: 5%;
  background-color: red;
  padding: 6px 27px;
  border: 0;
  border-radius: 5%;
  color: white;
  font-size: 17px;
  text-align: center;
}
.modal-data-view {
  margin-top: 5%;
}
.center {
  text-align: center;
}

.tag {
  color: white;
  background: orange;
  padding: 5px 12px;
  border-radius: 22px;
  margin-right: 1%;
  font-family: "Questrial", sans-serif;
}
.listener-playcount-view {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 2%;
}
.orange {
  color: orange;
}
